
/*-------------------------------------------------*/

/*------- COMIENZOS-------------*/
.h2Comienzos{
    margin-top: 20px;
    width: 100%;
    font-size: 6vh;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.mainComienzos img{
    max-height: 400px;
    margin: auto 0;
} 