
/*-------------------------------------------------*/

/*------- COMIENZOS-------------*/
.h1Comienzos{
    margin-top: 20px;
    width: 100%;
    font-size: 6vh;
    @include encabezados;
}
.comienzos__Main{
     img{
    max-height: 400px;
    }
    p{
        font-family: $fuente__principal;
        font-size: 20px;
        margin-top: 10px;
        
    }
} 

.art3Comienzos {
    margin-bottom: 30px;
}


