/*-------------------------------------------------*/

/*------- CONTACTO -------------*/
.h1Contacto{
    margin-top: 20px;
    width: 100%;
    margin: 3vh ;
    font-size: 3em;
    @include encabezados;
    animation: contacto__h1 5s linear 0s infinite;
}
@keyframes contacto__h1 {
    0%{ text-shadow: 1px 1px 1px white;}
    50%{ text-shadow:  3px 3px 3px $color__primario;}
    100% { text-shadow: 2px 2px 2px white; }
}

form{
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    align-items: center;
}
input{
    padding: 10px;
    margin: 10px;
    border-color: $color__primario;
    border-radius: 10px;
    border-width: 2px;
}
textarea{
    border-color: $color__primario;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    display: block;  
}

form input{
    display: block; 
} 
label {
        color: $color__primario;
        font-size: large;
        text-shadow: 1px 1px 0.5px $color__secundario;
    }
.contacto__Main button{
    margin: 10px;
}

.fondoContacto{
    background-image: linear-gradient(to right top, #000409, #232426, #404042, #5f5f60);
    background-position: center;
    background-size: cover;
}