*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}
body{
    max-width: 100%;
}
h1{
    font-family: $fuente__principal;
    font-weight: 900 ;
    color: $color__primario;
    text-align: center;
    font-size: 70px;
    margin: 30px;
}
h2{
    font-family: $fuente__principal;
    color: $color__primario;
}
img{
    max-width: 100%;
}
/*-------- HEADER -------------*/
@media (min-width: 768px) {
    header{
        flex-direction: row;
        position: sticky;
        top: 0;
    }
}
.logoHeader{
    max-width: 20vh;
    min-width: 50px;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}
nav {
    padding:0 !important;
    font-size: 2rem;
    background-image: url(../img/fondoHEADER.jpg) !important;
    a{
        color: $color__primario !important;
        text-shadow: 5px 2px 6px $color__secundario;
    }
    a:hover{
        color: $color__secundario !important;
        text-shadow: 1px 1px 1px $color__primario;
        transition: all 0.5s ;
    }

}
.navbar-toggler-icon {
    width: 7vh;
    height: 7vh;
}
@media (min-width: 992px) {
    .navbar-collapse{
        justify-content: center;
    }
}

/*-------------------------------------------------*/
/*-------FOOTER-----------*/
footer{
    display: grid;
    background-image: url(../img/fondoHEADER.jpg);
    padding: 1%;
    justify-content: center;
    gap: 2vh;
    grid-template-rows: repeat(4,1fr);
}
.divFooter a , .divFooter__p {
    font-size: 1.3rem;
    display: inline;
    text-decoration: none;
    color: $color__primario;
    text-shadow: 1px 1px 1px $color__secundario;
    justify-self: center;
}
.divFooter img {
    max-width: 5vh;
    justify-content:space-around;
}
@media (min-width: 800px) {
    footer {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "rs1 rs2 up"
        "rs3 rs4 up";
        }
        .divFooter1{
            grid-area: rs1;
        
        }
        .divFooter2{
            grid-area: rs2;
        
        }
        .divFooter3{
            grid-area: rs3;
        
        }
        .divFooter4{
            grid-area: rs4;
        
        }  
}
#footer a:hover{
    text-shadow: 2px 2px 1px  $color__primario;
    color: $color__secundario;
    border-color: $color__secundario;
}
#footer__link1, #footer__link2{
    background-color: $color__secundario;
    border-width: 2px;
    border-color:  $color__primario ;
    color: $color__primario;
}

#footer__link1:hover , #footer__link2:hover {
    background-color:  $color__primario;
    color: $color__secundario;
    border-color: $color__secundario;
 }
/*--------------------------------------------*/