/*-------------------------------------------------*/
/*-------PRODUCTOS----------------*/
.h1Productos{
    margin: 20px;
    width: 100%;
    font-size: 6vh;
    @include encabezados;
}
/*SELECTOR DE PRODUCTOS*/

/* .contenedor__inputs */

.contenedor__labels {
    display:flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.contenedor__labels label{
    cursor: pointer;
    padding: 8px 15px;
    background-image: linear-gradient(to right top, #000409, #232426, #404042, #5f5f60, #808080);
    color: $color__primario ;
    font-weight: bold;
    border-radius: 30px;
}
.contenedor__labels label:hover{
    background: $color__primario;
    color: $color__secundario;
    padding: 10px 20px;
}
#panaderia__label, #pasteleria__label, #todos__label{
    display: none;
}

.panaderia__card, .pasteleria__card {
    display: none;
} 
#pasteleria__h2 ,#panaderia__h2 {
    display:none;
}

#panaderia__label:checked ~ .panaderia__padre .panaderia__card, 
#pasteleria__label:checked ~ .pasteleria__padre .pasteleria__card {
    display: block;
}
#panaderia__label:checked ~ #panaderia__h2, #pasteleria__label:checked ~ #pasteleria__h2 {
    display: block;
}
#todos__label:checked ~ .panaderia__padre .panaderia__card, 
#todos__label:checked ~ .pasteleria__padre .pasteleria__card {
    display: block;
}
#todos__label:checked ~ #panaderia__h2, 
#todos__label:checked ~ #pasteleria__h2 {
    display: block;
}
/*-------------------*/
.panaderia__padre, .pasteleria__padre {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panaderia__card , .pasteleria__card {
    h3{
    text-align: center;
    font-style: italic;
    color: $color__secundario;
    text-shadow: 2px 2px 2px $color__primario;
    }
    p{
        text-align: center;
        text-shadow: 1px 1px 1px $color__secundario;
    }
}
.cards {
    margin: 10px;
    border-radius: 6px;
    width: 140px;
    height: 100px;
    object-fit: cover;
    background-image: linear-gradient(to bottom, #ffffff, #b9bbbc, #767b7c, #3b413e);
    
    img {
        width: 140px;
        height: 100px;
        @include centrarimg;
    }
    p{
        display: none;
    }
        
}


.cards:hover {
    height: 250px;
    transition: 0.5s;
    p{
        margin: 10px 5px 0 5px;
        display: block;
        color: $color__primario;
        text-shadow: 1px 1px 1px $color__secundario;
    }
}
#pasteleria__h2 ,#panaderia__h2 {
    text-align: center;
    margin: 10px;
    font-size: 3rem;
    text-shadow: 2px 1px 1px $color__secundario;

}

@media (min-width: 440px) {
    .cards {
        width: 200px;
        height: 150px;
        img {
            width: 200px;
            height: 150px;
        }
    }
    .cards:hover {
    width: 200px;
    height: 300px;
    img {
        width: 200px;
        height: 150px;
    }
    }

} 

@media (min-width: 768px) {
    .cards {
        width: 300px;
        height: 200px;
        img {
            width: 300px;
            height: 200px;
        }
    }
    .cards:hover {
    width: 300px;
    height: 300px;
    img {
        width: 300px;
        height: 200px;
    }
    }

} 

@media (min-width: 1200px) {
    .cards {
        width: 400px;
        height: 250px;
        img {
            width: 400px;
            height: 250px;
        }
    }
    .cards:hover {
    width: 400px;
    height: 400px;
    img {
        width: 400px;
        height: 250px;
    }
    }
} 
#carouselExampleAutoplaying img {
    max-height: 400px;
}