/*-------------------------------------------------*/
/*-------PRODUCTOS----------------*/
.h1Productos{
    margin: 20px;
    width: 100%;
    font-size: 6vh;
    @include encabezados;
}
.panaderia__padre, .pasteleria__padre {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards {
    margin: 10px;
    border-radius: 6px;
    width: 150;
    height: 100px;
    object-fit: cover;
    background-image: linear-gradient(to bottom, #ffffff, #b9bbbc, #767b7c, #3b413e);
    
    img {
        width: 130px;
        height: 100px;
        @include centrarimg;
    }
    p{
        display: none;
    }
        
}

.cards:hover {
    height: 200px;
    transition: 0.5s;

    p{
        margin: 10px 5px 0 5px;
        display: block;
        color: $color__primario;
        text-shadow: 1px 1px 1px $color__secundario;
    }
    img{
        width: 350px;
    }
}
#pasteleria__h2{
    text-align: center;
    margin: 40px;
    font-size: 3rem;
    text-shadow: 2px 1px 1px $color__secundario;

}

@media (min-width: 440px) {
    .cards {
        width: 200px;
        height: 150px;
        img {
            width: 200px;
            height: 150px;
        }
    }
    .cards:hover {
    height: 300px;
    img {
        width: 200px;
        height: 150px;
    }
    }

} 

@media (min-width: 768px) {
    .cards {
        width: 300px;
        height: 200px;
        img {
            width: 300px;
            height: 200px;
        }
    }
    .cards:hover {
    height: 300px;
    img {
        width: 300px;
        height: 200px;
    }
    }

} 

@media (min-width: 1200px) {
    .cards {
        width: 400px;
        height: 250px;
        img {
            width: 400px;
            height: 250px;
        }
    }
    .cards:hover {
    height: 400px;
    img {
        width: 400px;
        height: 250px;
    }
    }
} 

/*SELECTOR DE PRODUCTOS*/

/* .contenedor__inputs */

.contenedor__labels {
    display:flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.contenedor__labels label{
    cursor: pointer;
    padding: 8px 15px;
    background-color: $color__primario;
    color: $color__secundario
}
#panaderia__label, #pasteleria__label, #todos__label{
    display: none;
}

.panaderia__card, .pasteleria__card {
    display: none;
} 
#panaderia__label:checked ~ .panaderia__padre .panaderia__card, 
#pasteleria__label:checked ~ .pasteleria__padre .pasteleria__card {
    display: block;
}
#todos__label:checked ~ .panaderia__padre .panaderia__card, 
#todos__label:checked ~ .pasteleria__padre .pasteleria__card {
    display: block;
}

