/*-------------------------------------------------*/
/*-------UBICACION----------------*/
.h1Ubicacion{
    margin: 10px;
    @include encabezados;
}
.txtubicacion img{
    max-width: 10%;
    max-height: 10%;
    width: 4vh;
}
.txtubicacion{
    color:  $color__primario;
    align-items: left;
}
.iframeUbicacion {
    display:flex;
    margin-bottom: 30px;
}
